.editButton {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: #abecb0;
  color: #1c1c1c;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0;
}

.editButton:hover {
  background-color: #abfab3;
  color: #000;
}
